<div class="track-meal-wrapper">
  <h1>Time 'till Turkey</h1>
  <app-leaf-timer></app-leaf-timer>
  <section class="prep-list" *ngIf="isPrepList">
    <h1>Prep List</h1>
    <app-prep-board></app-prep-board>
  </section>
  <section class="timeline" *ngIf="!isPrepList">
    <app-timeline></app-timeline>
  </section>
  <section class="view-controls">
    <app-view-tracker-dot [isActive]="true"></app-view-tracker-dot>
    <app-view-tracker-dot [isActive]="false"></app-view-tracker-dot>
  </section>
</div>
