.track-meal-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* backgrod-color: pink; */
}

.timer-colon {
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
	font-weight: 900;
}

.timeline-wrapper{
	min-width: 100%;
	height: 400px;
	overflow: scroll;
}

@media screen and (max-width: 600px){
}