.track-meal-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* backgrod-color: pink; */
}

.timer-colon {
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
	font-weight: 900;
}

.timeline{
	width: 600px;
	height: 400px;
	overflow: hidden;
}

@media screen and (max-width: 600px){
	.timeline{
		height: 600px;
	}
}