.container{
	min-height: 120px;
	min-width: 120px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.number-leaf-wrapper{
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;
}

.leaf{
	width: 200px;
}

.number{
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	color: white;
	z-index: 99;
	font-size: 4rem;
	
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	transform: rotate(-90deg);
}

@media screen and (max-width: 600px){
	.container{
		min-height: 60px;
		min-width: 60px;
	}

	.number{
		font-size: 1rem;
	}

	.leaf{
		width: 100px;
	}
}
