.timeline-wrapper{
	height: 400px;
	overflow: scroll;
}

.timeline-background{
	display: grid;
	grid-template-rows: auto;
}

.timeline-foreground{
	position: relative;
	display: grid;
	gap: 2px;
}

.timeline-background > div {
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: solid thin rgba(255,255,255, .25);
	height: 30px;
}

.timeline-background-text {
	font-family: var(--tt-cursive-font-family);
	color: var(--tt-white);
	opacity: 35%;
}