.wreath-wrapper{
	position: relative;
	top: 4em;
}

.header-wrapper{
	position: relative;
	top: -2em;
}

.subheader-wrapper{
	position: relative;
	top: -2.5em;
	text-align: center;
	color: white;
	text-shadow: var(--tt-text-shadow);
}

