.recipe-path-wrapper{
	height: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: flex-start;
	position: relative;
}
.recipe-path{
	width: 10px;
	background-color: var(--tt-teal);
	background: var(--tt-blue-teal-box-gradian);
	height: 100%;
	border-radius: 5px;
	box-shadow: var(--tt-text-shadow);
	position: absolute;
	top: 0;
	z-index: 0;
}

.recipe-path-badge{
	position: sticky;
	top: 0;
	z-index: 99;

	border-radius: 5px;

	margin: 1rem auto;
	padding: 5px;
	background-color: var(--tt-red);
	color: var(--tt-white);
	font-weight: 700;

	display: flex;
	align-items: center;
	justify-content: center;

	writing-mode: vertical-rl;
	text-orientation:upright;

	box-shadow: var(--tt-text-shadow);
}
