.recipe-path-wrapper{
	height: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.recipe-path{
	width: 10px;
	background-color: var(--tt-teal);
	background: var(--tt-blue-teal-box-gradian);
	height: 100%;
	border-radius: 5px;
	box-shadow: var(--tt-text-shadow);
	position: absolute;
	top: 0;
	z-index: 0;
}

.recipe-path-badge{
	position: sticky;
	top: 0;
	z-index: 99;

	margin: .25rem auto;
	padding: 5px;
	clip-path: circle(50% at 50% 50%);
	background-color: var(--tt-red);
	color: var(--tt-white);
	font-weight: 700;

	display: flex;
	align-items: center;
	justify-content: center;
}
