.app-wrapper{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

.animate {
	color: red;

	animation-name: FallingLeaf;
	animation-iteration-count: infinite;
	animation-duration: 5s;
}
