.app-wrapper{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.wreath-wrapper{
	display: flex;
	flex-flow: column nowrap;
	padding: .5em;
}