.app-wrapper{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	min-width: 100%;
	/* overflow-x: scroll; */
	background: var(--tt-yellow-orange-gradiant);
}

.animate {
	animation-name: FallingLeaf;
	animation-iteration-count: infinite;
	animation-duration: 5s;
}
