.welcome-wrapper{
	/* background-color: lightgreen; */
	display: flex;
	flex-flow: column nowrap;
}

button {
	color: var(--tt-orange);
}

.fade-button {
	opacity: 0%; 
	animation-name: FadeIn;
	animation-duration: 3s;
	animation-delay: 7s;
	animation-iteration-count: 1; 
	animation-fill-mode: forwards;
}