.welcome-wrapper{
	/* background-color: lightgreen; */
	display: flex;
	flex-flow: column nowrap;
}

button {
	color: var(--tt-orange);
}

.fade-button {
	opacity: 0%; 
	animation-name: FadeIn;
	animation-duration: 2s;
	animation-delay: 4s;
	animation-iteration-count: 1; 
	animation-fill-mode: forwards;
}

.welcome-controls{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}