<div class="leaf-wreath-wrapper">
  <div class="wreath-row row-one">
    <div class="leaf-wrapper">
      <app-leaf leafType="RED" rotationDegree="0"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="ORANGE" rotationDegree="-22"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="RED" rotationDegree="33"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="GREEN" rotationDegree="-60"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="ORANGE" rotationDegree="-45"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="GREEN" rotationDegree="22"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="RED" rotationDegree="-33"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="ORANGE" rotationDegree="60"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="GREEN" rotationDegree="-60"></app-leaf>
    </div>
  </div>
  <div class="wreath-row row-two">
    <div class="leaf-wrapper">
      <app-leaf leafType="ORANGE" rotationDegree="-45"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="GREEN" rotationDegree="22"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="RED" rotationDegree="-33"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="ORANGE" rotationDegree="10"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="GREEN" rotationDegree="75"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="RED" rotationDegree="-22"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="RED" rotationDegree="33"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="GREEN" rotationDegree="-60"></app-leaf>
    </div>
    <app-leaf leafType="RED" rotationDegree="60"></app-leaf>
  </div>
  <div class="wreath-row row-three">
    <div class="leaf-wrapper">
      <app-leaf leafType="GREEN" rotationDegree="33"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="ORANGE" rotationDegree="-45"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="ORANGE" rotationDegree="10"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="RED" rotationDegree="120"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="GREEN" rotationDegree="-76"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="ORANGE" rotationDegree="0"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="ORANGE" rotationDegree="-33"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="RED" rotationDegree="60"></app-leaf>
    </div>
    <app-leaf leafType="GREEN" rotationDegree="0"></app-leaf>
  </div>
  <div class="wreath-row row-four">
    <div class="leaf-wrapper">
      <app-leaf leafType="RED" rotationDegree="-33"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="GREEN" rotationDegree="45"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="GREEN" rotationDegree="-80"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="ORANGE" rotationDegree="-120"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="ORANGE" rotationDegree="76"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="RED" rotationDegree="-22"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="GREEN" rotationDegree="33"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="RED" rotationDegree="-60"></app-leaf>
    </div>
    <app-leaf leafType="GREEN" rotationDegree="60"></app-leaf>
  </div>
  <div class="wreath-row row-five">
    <div class="leaf-wrapper">
      <app-leaf leafType="GREEN" rotationDegree="33"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="RED" rotationDegree="-45"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="ORANGE" rotationDegree="80"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="GREEN" rotationDegree="120"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="RED" rotationDegree="-76"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="ORANGE" rotationDegree="22"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="GREEN" rotationDegree="-33"></app-leaf>
    </div>
    <div class="leaf-wrapper">
      <app-leaf leafType="RED" rotationDegree="60"></app-leaf>
    </div>
    <app-leaf leafType="ORANGE" rotationDegree="-60"></app-leaf>
  </div>
</div>
<div class="leaf-wrapper">
  <app-leaf leafType="RED" rotationDegree="90" class="animate"></app-leaf>
</div>
