.leaf-wreath-wrapper{
}

.leaf-wrapper{
	width: 40px;
}

.wreath-row {
	display: flex;
}

.row-one{
}

.row-two{
	position: relative;
	top: -.75em;
	right: .1em;
}

.row-three{
	position: relative;
	top: -1.5em;
	left: .5em;
}

.row-four{
	position: relative;
	top: -2.25em;
	left: .1em;
}

.row-five{
	position: relative;
	top: -3em;
	left: -.5em;
}

.animate {
	opacity: 0%;
	position: absolute;
	bottom: 50%;
	animation-name: FallingLeaf;
	animation-duration: 7s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	width: 40px;
}

