$tt-secondary:(
50: #FAF1DB,
100: #F3DCA4,
200: #E9C56A,
300: #DFB02A,
400: #D9A000,
500: #D39200,
600: #D38500,
700: #D37400,
800: #D26200,
900: #D13F00,
contrast: (
	50: black,
	100: black,
	200: black,
	300: black,
	400: black,
	500: black,
	600: black,
	700: black,
	800: black,
	900: black,	
)
);

$tt-primary:(
	50: #E2F3F2,
	100: #B6E1DE,
	200: #87CFC8,
	300: #5ABBB2,
	400: #3BACA1,
	500: #2A9D90,
	600: #279082,
	700: #237F72,
	800: #1F6F63,
	900: #195347,
	contrast: (
		50: black,
		100: black,
		200: black,
		300: black,
		400: black,
		500: black,
		600: black,
		700: black,
		800: black,
		900: black,
	)	
)
