/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&family=Shrikhand&family=Tenor+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body { 
	height: 100%;
	overflow: scroll;
	padding: 0;
	margin: 0;

	font-family: "Chivo", sans-serif; 
	font-size: 18pt;
	font-weight: 300;


	--tt-grayblue: #264653;
	--tt-teal: #2A9D8F;
	--tt-yellow: #E9C46A;
	--tt-orange: #F4A261;
	--tt-red: #E76F51;
	--tt-white: #fff;
	--tt-black: #000;

	--ng-mat-gray-brown: #6F4E2E;

	--tt-yellow-orange-gradiant: linear-gradient(166.58deg, #E9C46A 2.24%, #F4A261 46.36%, #E76F51 100%);
	--tt-teal-yellow-gradiant: linear-gradient(166.58deg, #2A9D8F 2.24%, #E9C46A 97.92%);
	--tt-red-blue-gradiant: linear-gradient(178.99deg, #264653 -6.02%, #E76F51 72.45%);
	--tt-gray-white-gradiant: linear-gradient(180deg, #D9D9D9 0%, rgba(217, 217, 217, 0) 100%);

	--tt-blue-teal-box-gradian: linear-gradient(180deg, #264653 0%, #2A9D8F 100%);
	
	--tt-text-shadow: 0px 4px 4px rgba(0,0,0,.25);
	--tt-cursive-font-family: "Shrikhand", cursive;
}

body {
	min-height: 100vh;
}

@keyframes FadeIn {
	0% { opacity: 0%;}
	100% { opacity: 100%;}
}

@keyframes FallingLeaf {
	0% {
		position: absolute;
		bottom: 50%;
		transform: rotate(20deg);
		opacity: 0%;
	}	

	25% {
		opacity: 100%;
	}

	100% {
		position: absolute;
		bottom: -120%;
		transform: rotate(90deg);
		opacity: 0%;
	}
}

h1 {
	font-family: var(--tt-cursive-font-family);
	font-size: 2em;
	letter-spacing: .02em;
	text-shadow: var(--tt-text-shadow);
	color: white;
	text-align: center;
}

h2 {
	font-family: "Tenor Sans", sans-serif;
	font-size: 1.5em;
}

label{
	font-size: .75rem;
	color: var(--ng-mat-gray-brown);
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.mat-tooltip{
	font-size: .5rem;
}


@media screen and (max-width: 600px){

	h1 {
		font-size: 1.5em;
	}
}